.lsy-has-tooltip {
   /*   position: relative;*/
   display: inline;
   border-bottom: 1px dotted black;
}

.lsy-tooltip-wrapper {
   position: absolute;
   visibility: hidden;
   min-width: 200px;
   max-width: 350px;
}

.lsy-has-tooltip:hover .lsy-tooltip-wrapper {
   visibility: visible;
   opacity: 0.8;
   /*top: 30px;*/
   /*left: 50%;*/
   /*margin-left: 20px;*/
   z-index: 9999;
}

.lsy-tooltip {
   display: block;
   position: relative;
   top: 2em;
   right: 75%;
   /* width: 140px; */
   /* height: 96px; */
   /* margin-left: -76px; */
   background: #000000;
   /* line-height: 96px; */
   text-align: center;
   border-radius: 8px;
   box-shadow: 4px 3px 10px #000000;
   padding: 12px;
   font-style: inherit;
   color: #ffffff;
}

.lsy-tooltip:after {
   content: '';
   position: absolute;
   bottom: 100%;
   left: 50%;
   margin-left: -8px;
   width: 0;
   height: 0;
   border-bottom: 8px solid #000000;
   border-right: 8px solid transparent;
   border-left: 8px solid transparent;
}